@import url("./normalize.css");
@import url("./default.css");
@import url("./utils.css");
@import url("./modal.css");

:root {
  --primary-font: "Karla", sans-serif;

  --primary-color: #fff;
  --secondary-color: #ff6700;
  --background-color: #3a47d5;

  --update-color: #228b22;
  --delete-color: #E23636;

  --save-color: #228b22;
}

body,
html {
  font-family: var(--primary-font);
}

html {
  font-size: 10px;
}

body {
  padding-top: 5rem;
  font-size: 1.6rem;

  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  color: var(--primary-color);
}

/* =================================================== INPUT ============================================= */
.input-container {
  margin-bottom: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container .input-item {
  width: 260px;

  outline: none;
  margin-right: 2rem;
  padding: 1rem 2rem;
  border: 3px solid transparent;
  border-radius: 5px;

  transition: all 0.1s ease-in-out;
}

.input-container .input-item:focus {
  border-color: var(--secondary-color);
}

.input-container .input-item.input-time {
  width: 100px;
  padding: 1rem;
}

/* =================================================== LIST ============================================= */
.list-schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-schedule-item {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--primary-color);
  color: var(--background-color);

  margin-bottom: 2rem;
  border: 3px solid var(--background-color);
  border-radius: 3px;
}

.list-schedule-item .schedule-item-time,
.list-schedule-item .schedule-item-desc {
  font-size: 2rem;
  font-variant-numeric: tabular-nums;
  padding: 1rem;
  border-right: 3px solid var(--background-color);
}

.list-schedule-item .schedule-item-desc {
  width: 30vw;
}

.list-schedule-item .btn.btn-icon {
  padding: 1rem;
  border-right: 3px solid var(--background-color);
}

.list-schedule-item .btn.btn-icon:last-child {
  border-right: 0;
}
