/* ============================================== Button =============================================== */
.btn {
  width: 100px;
  
  background: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 3px;
  padding: 1rem 2rem;
  cursor: pointer;

  transition: all .2s ease-in-out;
}

.btn:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn-save {
  color: var(--primary-color);
  background: var(--save-color);
}

.btn-save:hover {
  color: var(--save-color);
  background: var(--primary-color);
}

.btn-delete {
  color: var(--primary-color);
  background: var(--delete-color);
}

.btn-delete:hover {
  color: var(--delete-color);
  background: var(--primary-color);
}

.btn-icon {
  width: auto;
  padding: 0;
  border-radius: 0;
}

.btn-icon:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn-icon i {
  font-size: 2.2rem;
}

.btn-icon.btn-update {
  color: var(--update-color);
}

.btn-icon.btn-delete {
  background: none !important
  ;
  color: var(--delete-color) !important;
}

/* ============================================== Text =============================================== */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}
